.white-text {
    color: white !important;
  }
  .table-container {
    margin-top: 30px;
  }
  .table th,
  .table td {
    border: 1px solid rgb(243, 239, 239);
   
  }
  
  .table th {
   
    font-weight: bold;
  }
  
  .table td,
  .table th {
    border-bottom: 1px solid white;
  }
  .table  th {
    margin-right: 40px; 
  }
 
  .table tr td img{
    width: 50px !important;
  }
  .table tr td img{
    width:70px !important;
    height:70px !important;
    object-fit:contain;
  }
  .main-banner {
  
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
    
    
  }
  
  .main-banner img {
    width: 100%;
    height: auto;
    
    
  }
  
  .banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: rgb(255, 17, 148);
    font-size: 24px;
    text-align: center;
  }
  
 
  .mainbanner img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 50vh; 
  }
  .table-container {
    margin-left: 20%;
    margin-right: auto;
  }
  /* styles.css (ou tout autre fichier de styles de votre choix) */
.small-modal .modal-dialog {
  max-width: 300px; /* La taille que vous souhaitez pour le modal (ici, 400px) */
}
